header{
    border-bottom: 2px solid var(--color-grey-3);
}

.drop-menu{
    width: 100%;
    padding: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

    background-color: #fff;
    
    position: absolute;
    right: 0;
}

.btn-primary-1, .btn-primary-2{
    width: 45%;
}

@media (min-width: 900px) {
    .btn-menu{
        display: none;
    }
    
    .drop-menu{
        display: flex;
        gap: var(--gap-6);
        width: fit-content;
        position: static;
        box-shadow: none;
    }

    header > div{
        display: flex;
        justify-content: space-between;
    }
}
